<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a <strong>technologist at heart</strong> with experience in many different technologies and environments, from solo missionsto teams of twelve, from frontend over backend to mobile platforms.</p>
                    <p>On my journey to <strong>empower the people</strong> around me and drive business goals I <strong>managed a multitude of stakeholders</strong>, helped to <strong>grow a cross-functional team</strong> from five to fifteen and supported them in <strong>their professional growth</strong>.</p>
                    <p>I firmly believe that <strong>robust processes</strong> are the foundation of a mission's success but only <strong>care for people & adherence to strong values</strong> can make this success last.</p>
                </div>
            </div>
        </div>
    </section>