<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Stefan is a curious person who likes to learn through discussions and sharing. As such he helped create events and meetup formats, mostly for developers. If he finds the time between work and family he's even attending them.</p>
                </div>
                <div class="col-lg-4">
                    <p>Although a passionate developer at heart, these days he exchanged the IDE with calendar notifications and e-mails to make teams and projects run succesfully.</p>
                </div>
            </div>
        </div>
    </section>