<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a <strong>manager and leader</strong> with hands-on experience in a range of technologies and environments with teams of up to twelve professionals, regularly <strong>including remote team members</strong>. Most recently, I ran the German arm of a successful digital agency, managing the operational aspects of an office of 15 employees, handled the earliest stages of client relationship development, and <strong>oversaw our local teams, projects and clients</strong>.</p>
                    <p>I firmly believe in <strong>robust processes</strong> as the foundation of success for any organisation. <strong>Caring for team</strong> & adherence to <strong>strong values</strong> can make this success last.</p>
                </div>
            </div>
        </div>
    </section>